@using OperationsManagementSystem.Models
@model User

@{
    ViewBag.Title = "CreateNewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />

@*<style>
    .ui-datepicker-header .ui-widget-header .ui-helper-clearfix .ui-corner-all {
        background-color: beige !important;
    }
</style>*@
    <link href="~/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />



@using (Html.BeginForm("CreateNewUser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container form-horizontal">
        <h3>Create New User</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @{
                if (ViewBag.NewTaskError != "")
                {
                    <div class="col-md-offset-2 col-md-10 text-warning" style="text-align:center;">
                        @ViewBag.NewTaskError
                    </div>
                }
            }
        </div>
        <div class="form-group d-none">
            @{
                if (ViewBag.TaskStatus == "Task could not be created. Please try again.")
                {
                    <div class="col-md-offset-2 col-md-10 text-warning">
                        @*@ViewBag.TaskStatus*@
                    </div>
                }
                else
                {
                    <div class="col-md-offset-2 col-md-10 text-success">
                        @*@ViewBag.TaskStatus*@
                    </div>
                }
            }
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><b>User Role</b></label>
                @Html.DropDownListFor(model => model.Roles, ViewBag.Roles as IEnumerable<SelectListItem>,
                "-- Select Role --", new { @class = "form-control", @Required = "required" })

            </div>
            <div class="form-group col-md-6">
                <label><b>Username</b></label>
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @Required = "required" } })
            </div>
            @*<div class="form-group col-md-6">
                <label><b>Assign To</b></label>             
                @Html.DropDownListFor(model => model.AssignedTo, ViewBag.MembersList as IEnumerable<SelectListItem>,
                    "-- Select Member --", new { @class = "form-control", @Required = "required" })
            </div>*@
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><b>First Name</b></label>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @Required = "required" } })
            </div>
            <div class="form-group col-md-6">
                <label><b>Last Name</b></label>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @Required = "required" } })
            </div>
            @*<div class="form-group col-md-6">
                <label><b>Assign To</b></label>             
                @Html.DropDownListFor(model => model.AssignedTo, ViewBag.MembersList as IEnumerable<SelectListItem>,
                    "-- Select Member --", new { @class = "form-control", @Required = "required" })
            </div>*@
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><b>Email</b></label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @Required = "required" } })
            </div>
            <div class="form-group col-md-6">
                <label><b>Active</b></label><br />
                @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-check-input-lg", @Required = "required" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><b>MSISDN</b></label>
                @Html.EditorFor(model => model.MSISDN, new { htmlAttributes = new { @class = "form-control", @Required = "required" } })
            </div>
            <div class="form-group col-md-6">
                <label><b>CNIC</b></label> 
                @Html.EditorFor(model => model.CNIC, new{ htmlAttributes = new { @class = "form-control", @Required = "required" }})
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><b>Team Lead</b></label>
                @Html.EditorFor(model => model.TeamLead, new { htmlAttributes = new { @class = "form-control", @Required = "required" } })
            </div>
            <div class="form-group col-md-6">
                <label><b>HOD</b></label>
                @Html.EditorFor(model => model.HOD, new { htmlAttributes = new { @class = "form-control", @Required = "required" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><b>Team</b></label>
                @Html.DropDownListFor(model => model.Team, ViewBag.Teams as IEnumerable<SelectListItem>,
                    "-- Select Team --", new { @class = "form-control", @Required = "required" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Submit" class="btn btn-info" />
                <input type="reset" value="Reset" class="btn btn-info" />
            </div>
        </div>
    </div>
                }
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script>
    $('.datepicker').datepicker({
        format: "mm/dd/yyyy",
        startDate: '0d',
        daysOfWeekDisabled: [0,6], 
        autoclose: true,

    });
</script>

