@model IEnumerable<OperationsManagementSystem.Models.Ticket>

<link href="~/Content/customTable.css" rel="stylesheet" />

@if (Model == null || Model.Count() == 0)
{
    <div class="col-md-offset-2 col-md-10 text-warning" style="text-align:center;">
        No Record Found
    </div>
}
else
{

    <!-- /.box-header -->
    <div class="table-responsive">
        <table class="table" id="publishedTable">
            <thead>
                <tr>
                    <th>Ticket Number</th>
                    <th>Ticket Type</th>
                    <th>
                        Initiated By
                    </th>
                    <th>Date Of Initiation</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Team</th>
                    <th>Attachment</th>
                    <th>Assigned To</th>
                    <th>Assigned Date</th>
		            <th>Assigned By</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Completer Attachment</th>
                    <th>Completed Date</th>
                    <th>Comments</th>
                    <th>Initiator Feedback</th>
                    <th>Initiator Comments</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.ID)

                    <td>@Html.DisplayFor(modelItem => item.TicketNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.TicketType)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy.Split('\\')[1])
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.DateOfInitiation)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Team)</td>
                    <td>
                        @if (item.Attachment != null)
                    {
                            @Html.ActionLink("View", "DownloadFile", "Home", new { @id = item.ID }, null)
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.AssignedTo.Split('\\')[1])</td>
                    <td>@Html.DisplayFor(modelItem => item.AssignedDate)</td>
		    <td>@Html.DisplayFor(modelItem => item.AssignedBy.Split('\\')[1])</td>
                    <td>@Html.DisplayFor(modelItem => item.DueDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>
                        @if (item.CompleterAttachment != null)
                        {
                            @Html.ActionLink("View", "DownloadCompleterFile", "Home", new { @id = item.ID }, null)
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.ModifiedDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Comments)</td>
                    <td>@Html.DisplayFor(modelItem => item.InitFeedback)</td>
                    <td>@Html.DisplayFor(modelItem => item.InitComments)</td>
                </tr>
            }

        </table>
    </div>
}