@model IEnumerable<OperationsManagementSystem.Models.Ticket>

<link href="~/Content/customTable.css" rel="stylesheet" />
<script src="~/Scripts/jquery.table2excel.min.js"></script>

<div class="table-responsive">
    <table class="table" id="mytable">
        <tr>
            <th>
                Ticket Number
            </th>
            <th>
                Ticket Type
            </th>
            <th>
                Initiated By
            </th>
            <th>
                Date Of Initiation
            </th>
            <th>
                Type
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Team
            </th>
            <th>
                Attachment
            </th>
            <th>Status</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.Split('\\')[1])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfInitiation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team)
                </td>
                <td>
                    @if (item.Attachment != null)
                    {
                        @Html.ActionLink("View", "DownloadFile", "Home", new { @id = item.ID }, null)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }

    </table>
</div>
<div>
    <button class="btn btn-info" onclick="exportexcel()">
        Export to Excel
    </button>
</div>

<script type="text/javascript">
            function exportexcel() {
                $("#mytable").table2excel({
                    name: "Table2Excel",
                    filename: "Tickets List",
                    fileext: ".xls"
                });
            }
</script>

